.page{
    background-color: #2A2C2F;
    max-width:1280px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Inter", "Arial", "sans-serif";
    font-style:  normal;
    font-weight: 400;
    color: #FFFFFF;
    display: grid;
    justify-content: center;
    grid-template: minmax(52px, auto) 1fr minmax(20px, auto) / minmax(320px, 1fr);
    grid-template-areas: "header" "main" "footer";
}