.places{
    padding: 0 148px 92px 148px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 80px;
}
@media screen and (max-width: 1148px){
    .places{
        padding: 0 48px 92px 48px;
    }
}
@media screen and (max-width: 926px){
    .places{
        padding: 0 24px 90px 24px;
    }
}
@media screen and (max-width: 768px) {
    .places{
        row-gap: 73px;
    }
}
@media screen and (max-width: 704px) {
    .places{
        row-gap: 50px;
    }
}
@media screen and (max-width: 344px) {
    .places{
        padding:0 0 66px 0;
    }
}