.cover__title{
    text-align: center;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 50;
    padding: 0;
    margin: 0 auto;
    max-width: 560px;
}