.place{
    box-sizing: border-box;
    display: grid;
    max-width: 984px;
    max-height: 660px;
    grid-template-columns: repeat(2, minmax(300px, 49.15%));
    grid-auto-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}
.place:last-child{
    margin-bottom: 0;
}
