.place__website{
    align-self: end;
    max-width: 484px;
}
@media screen and (max-width: 704px) {
    .place__website{
        grid-row: 2 / 3;
    }
}
@media screen and (max-width: 360px) {
    .place__website{
        padding: 0 16px;
    }
}